
{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <center>
        <b>
          <i>
            <h2 style="color: orange;">क्या सिर्फ चुनावों तक अपना मत सीमित रखना उचित है,</h2>
<h1>आइये अपने मत का प्रयोग करें चुनाव से पहले भी चुनाव के बाद भी </h1>
<h1 style="color: green;">एक जागरूक समाज के ओर अग्रसर कदम!!
          </i></h1>
        </b>
      </center>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="jumbotron jumbotron-fluid">
  
   <div class="container">
<h3>Login</h3>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button class = "buttonmy" type="submit">Login</button>
<h3><a href="/nirvachit/register/">Register</a></h3>
<br>
</form>
</div>
 </div>
</div>

<div class="col-sm-7 col-xs-12">
<h3>
  <ul>
  <li>
    Bad officials are elected by good citizens who don’t vote.
  </li>
  <li>
    The ballot is stronger than the bullet.
  </li>
  <li>
    One of the penalties for refusing to participate in politics is that you end up being governed by your inferiors.
  </li>
  <li>
    The ignorance of one voter in a democracy impairs the security of all.
  </li>
  <li>
    Always vote for principle, though you may vote alone, and you may cherish the sweetest reflection that your vote is never lost.
  </li>
  <li>
    If you don’t vote, you lose the right to complain.
  </li>
  <li>
    A man without a vote is a man without protection.
  </li>
  <li>
    Someone struggled for your right to vote. Use it.
  </li>
</ul>
</h3>

</div>
</div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>	





{% endblock %}


