{% extends 'base.html' %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<center><h2><b style="font-family: monospace;">Daily News</b></h2></center>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% for news_list in new %}
			<h3>{{ news_list.title }}</h3>
			<h5><p>{{ news_list.text|linebreaksbr }}</p></h5>
			<b>-----------------------------------------------------------------------------------------------</b>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}












