
{% extends 'base.html' %}
{% block body %}

<div class="coontainer-fluid">
	<div class="row">
		<div class="col-xs-12">
		<center><h1>Poll no: {{poll_detail.id}}</h1>
			<h2>{{ poll_detail.poll_between }}</h2>
			<br>
			<div class="col-xs-6">
	<img src="{{ poll_detail.first_poll.url }}" style="height: 130px; width: auto" alt="....." class="img-responsive"><br><br>Total votes: {{ poll_detail.first_poll_count }}<br><br>

	<form method="POST" >{% csrf_token %}
        
       <input type="button" id="approve" name = "vote_first" value="Vote" onclick="vote_one()"/>


    </form>


</div>
<div class="col-xs-6">
<img src="{{ poll_detail.second_poll.url }}" style="height: 130px; width: auto" alt="....." class="img-responsive"><br><br>Total votes: {{ poll_detail.second_poll_count }}<br><br>


<form method="POST" >{% csrf_token %}
        
       <input type="button" id="reject" name = "vote_second" value="Vote" onclick="vote_two()"/>


    </form>

</div>
		</center>
		</div>
	</div>
</div>



<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    function vote_one(){
       
        $('#reject').attr('disabled','disabled');
    }
    function vote_two(){
        
        $('#approve').attr('disabled','disabled');
    }
  </script>





{% endblock %}
