
{% extends 'base.html' %}
{% block body %}

<style>
	input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>
<center><b style="font-size: 40px; font-family: monospace;">Registration</b></center>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
<input type="submit" value="Register">
</form>

		</div>
	</div>
</div>

{% endblock %}

